@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

$primarycolor: #76C893;
$secondarycolor: #3C787E;
$accentcolorone: #16666d;
$accentcolortwo: #3e8b92;
$primaryfont: 'Nunito', Calibri, 'Trebuchet MS', sans-serif;
$secondaryfont: 'Caveat', cursive;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset Overrides */

/* headings & titles */
body {
    margin: 5px;
    padding: 25px;
    color: $primarycolor;
    font-family: $primaryfont;
    text-align: center;
    border-width: 10px;
    border-color: $primarycolor;
    border-style: solid;
}

h1 {
    color: $primarycolor;
    text-align: center;
    font-size: 300%;
    margin-bottom: 5px;
}

.col-12 {
    padding-left: 0px;
    padding-right: 0px;
}

h2 {
    text-align: center;
    color: $primarycolor;
    font-size: 175%;
    margin-top: 30px;
    margin-bottom: 25px;
}

h3 {
    text-align: center;
    color: $secondarycolor;
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $secondaryfont;
}

.product-title {
    color:$primarycolor;
    font-size: 170%;
    margin-top: 6%;
    margin-bottom: 3%;
    text-decoration: underline;
}

.small {
    margin-top: 100px;
}
.product-title:hover {
    color:$accentcolorone;
}

.staff-title {
    color:$primarycolor;
    font-size: 190%;
    text-decoration: underline;
}

.greeting {
    margin-top: 25px;
}

.ourTeam {
    margin-top: 50px;
}

.product-page-title {
    font-family: $secondaryfont;
    font-size: 50px;
}

.badge-colors {
    color: $primarycolor;
    background-color: #fff;
}

/* navigation */
p {
    color: $secondarycolor;
    margin-bottom: 5px;
}

li {
    display: inline-block;
    /* flex-flow: ; */
    margin: 20px 10px auto;
    margin-bottom: 10px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: $secondarycolor;
    padding: 2px;
}

a:hover {
    text-decoration: none;
    color: $primarycolor;
}

div.ourPlants {
    margin: 15px auto 15px;
}

div.product-page {
margin-left: auto;
margin-right: auto;
margin-bottom: 30%;
}

.introText p {
text-align: center;
font-size: 110%;
font-weight: 600;
line-height: 140%;
margin-top: 10px;
}

.newsletterSub {
    font-family: $secondaryfont;
    font-size: 150%;
    margin-bottom: 30px;
}

.product-description {
color: $accentcolortwo;
}

.product-details {
    margin-top: 4%;
}

.price {
    font-weight: bolder;
    font-style: italic;
    color: $accentcolorone;
    margin-top: 5%;
    margin-bottom: 1%;
}

.teamAbout {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 200px;
}





/* images */
#logo {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: inline-block;
}

img.staff-pic {
    border-radius: 100px;
    margin: 5%;
}

.img-fluid {
    max-width: 100%;
}

img.headerImage {
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 5%;
    max-width: 100%;
}

img.newsletterImage {
    border-radius: 25px;
    margin: auto;
   margin-top: 40px;
   margin-bottom: 5%;
}

img.resize {
    // max-width: 250px;
    border-radius: 250px;
    /* display: inline-flex; */
}

.friends img {
    max-width: 33%;
    border-radius: 100px;
    margin: .1%;
}

.friendsBlock {
    margin-top: 5%;
}

img.contactImage {
    max-width: 30%;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 15%;
}


// cart
.cart {
    margin-top: 50px;   
    margin-bottom: 5%;
}

.cart-styles {
    margin-bottom: 25%;
}

.total {
    font-style: italic;
    font-weight: 700;
    color: #61cc87; 
    // padding-top: 51px;
    line-height: 35px;
}

.orderTitle {
    display: inline-block;
}

/* forms */
form {
    color: $primarycolor;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form input {
    margin-top: 8px;
    margin-bottom: 25px;
}

form textarea {
    margin-top: 8px;
    margin-bottom: 25px;
}

form label {
    font-weight: bold;
    font-style: italic;
}

form::placeholder {
    font-style: italic;
}

.newsletter {
    margin-top: 50px;
    margin-bottom: 100px;
}

.orderTitle h3 {
    margin-bottom: 20px;
}

.orderForm {
    margin-top: 30px;
}

/* buttons */
.call-to-action {
    background-color: $primarycolor;
    color: #ffffff;
    border-radius: 5px;
    border-color: $primarycolor;
}

.call-to-action:hover {
    background-color: $secondarycolor;
    border-color: $secondarycolor;
}

.add-to-cart {
    background-color: $primarycolor;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border-color: $primarycolor;
    margin: 10px;
}

.add-to-cart:hover {
    background-color: $secondarycolor;
    border-color: $secondarycolor;
    color: white;
}

.add-to-wishlist {
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    border-color: $primarycolor;
}

.add-to-wishlist:hover {
    border-color: $secondarycolor;
    color: $secondarycolor;
}

.link-button {
    margin-top: 7%;
    margin-bottom: 5%;
}

.footer {
    margin-top: 5%;
}

.disclaimer {
    margin: 20px auto;
    font-size: x-small;
    font-style: italic;
}

.ourPlants {
    padding: 20px;
}


.staffBlock {
    margin-bottom: 50px;
}




@media (max-width: 760px) {

body {
    padding: 5px;
}
img.img-fluid {
    max-width: 100%;
    margin-left: 1px;
    margin-right: 1px;
}

div.container {
    padding: 0px 10px;
}

div.ourPlants {
    padding: 2px;
}

div.staffBlock {
    padding: 0px 5px;
}

.friends img {
    margin-bottom: 10%;
    max-width: 100%;
}

#logo {
    margin-top: 5%;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 150%;
}
}

@media (max-width: 653px) {
    img.img-fluid {
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .friends img {
        margin-bottom: 10%;
        max-width: 100%;
    }
    
    h1 {
        font-size: 220%;
        text-align: center;
        margin-left: 0px;
    }
    
    h2 {
        font-size: 150%;
    }

    .cart-styles {
        margin-left: 0px;
    }
}
